<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="auth.user$ | async as user;">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <ion-label>
        <h3>{{user.displayName}}</h3>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>

    <ion-card-content>
      <ion-button (click)="auth.signOut()" expand="block" fill="outline">
        <ion-icon name="exit" slot="start"></ion-icon>
        Sign Out
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add or Modify ideas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="idea.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea [(ngModel)]="idea.notes" rows="8"></ion-textarea>
      </ion-item>
      <ion-button
        *ngIf="!idea.id"
        (click)="addIdea()"
        expand="block"
        fill="outline"
      >
        Add Idea
      </ion-button>
      <ion-button
        *ngIf="idea.id"
        (click)="updateIdea()"
        expand="block"
        fill="outline"
      >
        Update Idea
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ideas</ion-card-title>
      <ion-card-subtitle>The list of ideas added by users</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let i of (ideas | async )"
          (click)="onSelectIdea(copyObject(i))"
        >
          <ion-label>
            {{i.name}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
